@use '../abstracts' as *;

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    &:nth-of-type(odd) {
        background-color: $clr-primary;
    }
    &:nth-of-type(even) {
        background-color: $clr-secondary;
        &::after {
            display: block;
            content: "";
            background-image: url('/img/curve.svg');
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 100%;
            height: 10rem;
            z-index: 50;
        }
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: $clr-secondary;
}